
$purpl:#6b0628;
$bg-color: #cfd4d2;
$mobile-breakpoint: 425px;
.menu-bar-panel{
    height: 100%;
    position: fixed;
    width: 20%;
    background-color: white;
    .name-plate{
        padding-top: 10px;
        
    margin-left: 10px;
        display: flex;
        h5{
            margin-left: 10px;
            margin-bottom: 50px;
        }
        
    }
    .menu-contents{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        p{
            margin: 5px 20px;
        }
        strong{
            padding-left: 20px;
        }
        .menu-contents-list{
         display: flex;
         padding-left: 30px;

         .menu-contents-list-icon{
             margin: 8px 0px;
         }
         

        }
        .menu-contents-list:hover{
            background-color: $purpl;
            color: white;
        }
        .see-more{
            background-color: $bg-color;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            font-weight: bolder;
        }
       
    }
}

