$purpl:#6b0628;
$bg-color: #cfd4d2;
$mobile-breakpoint: 425px;

.display-panel{
    width: 100%;
    padding-bottom: 100px;
    padding-left: 20%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #cfd4d2;
    .width-component{
        min-width: 50%;
        border-radius: 10px;
        background-color: white;
        padding: 10px;
        box-shadow: 0 1px 4px #706c6c;
        margin: 20px auto 0 auto;
    }
    
    .posting-panel{
        box-sizing: border-box;
        display: flex;
        textarea{
            width: 100%;
            font-size: 12px;
            border: none;
            background-color: $bg-color;
            padding: 10px;
            border-radius: 20px;
        }
        textarea:focus{
            outline:none;
         }
        
        .posting-panel-line-left{
            padding-left: 10px;
            padding-right: 20px;
            width: 100%;
            .submit-button:focus{
                outline:none;
            }
            .submit-button{
                border-radius: 10px;
                border: 1px solid black;

            }
            .submit-button:hover{
                border: 1px solid transparent;
                border-radius: 10px;
                color: white;
                background-color: $purpl;

            }
            .posting-panel-line2-left{
                display: flex;
                justify-content: space-between;
                padding-top: 5px;
                
                span{
                    font-size: 12px;
                    padding-left: 3px;
                    box-sizing: border-box;;
                }
            }
        }
      }
      .display-card{
        width: 100%;
    
    .post-content{
        .post-info{
            display: flex;
            flex-direction: row;
            
            
            .profile-name{
                padding-left: 10px;
                h4{
                    font-size: 16px;
                    font-weight: bolder;
                }
                h6{
                    font-weight: lighter;
                }
                h4,h5,h6{
                    margin: 0;
                }
            }
        }
        .post-para{
            width: 80%;
        }
    }
}
}
@media (min-width:$mobile-breakpoint) {
.width-component{
   max-width: 50%;
}
}
@media (max-width:$mobile-breakpoint) {
    .display-panel{
       
        padding: 10px;
        .width-component{
            width: 90%;
        }
    }
}
